.container {
  position: center;
  width: 100%;
  box-sizing: border-box; 
  text-align: justify;
  padding: 2%;
  margin: 10px;
  font: inherit;
}
.column,
.columns {
  width: 100%;
  float: center;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.one.column,                    { width: 5,58%; }
.two.columns                    { width: 14%; }
.three.columns                  { width: 22,75%; }  
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.height.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.one-half.column                { width: 48%; }
