.container {
  position: center;
  width: 100%;
  box-sizing: border-box; 
  text-align: justify;
  padding: 2%;
  margin: 10px;
  font: inherit;
}
.column,
.columns {
  width: 100%;
  float: center;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }