.container {
  position: center;
  width: 100%;
  box-sizing: border-box; 
  text-align: justify;
  padding: 2%;
  margin: 10px;
  font: inherit;
}
.column,
.columns {
  width: 100%;
  float: center;
  box-sizing: border-box; }

<!-- container is main centered wrapper -->

<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="one column">One</div>
    <div class="eleven columns">Eleven</div>
  </div>

  <!-- just use a number and class 'column' or 'columns' -->
  <div class="row">
    
  </div>

  <!-- there are a few shorthand columns widths as well -->
  <div class="row">
  
    <div class="two-thirds column">2/3</div>
  </div>
  <div class="row">
    <div class="one-half column">1/2</div>
    <div class="one-half column">1/2</div>
  </div>

</div>

<!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) -->