/* CSS files add styling rules to your content */
body{
  font-family: Roboto;
  background-color: #F9FCFF;
  text-align: center;
}

.first-division{
  background-image: url('https://images.unsplash.com/photo-1569285645462-a3f9c6332d56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-size: cover;
  border: solid 3px;
  border-color: black;
}

h1, h2, h3, h4 {
  font-family: Roboto, sans-serif;
  font-size: 3em;
  padding: 5%;
  margin: auto;
  color: #02305D;
  text-align: center;
}

h2{
  font-size: 2em;
  font-style: italic;
  color: #2289EE;
  padding: 5%;
}

.source{
  text-align: right;
  padding-top: 0;
}

.article{
  font-family: Ubuntu, sans-serif;
}